* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.min-height {
  min-height: 100vh;
}

section {
  margin-bottom: 1rem;
}

p {
  line-height: 1.6;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 16px;
  padding: 1rem 0;
}

a {
  text-decoration: none;
  color: white;
  margin-right: 1rem;
  font-size: 13px;
}

a:hover {
  color: orange;
}

img {
  max-width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  background-color: rgb(0, 0, 0);
  color: wheat;
  padding: 1.5rem;
  margin-bottom: 2rem;
}

.header-nav {
  background-color: rgb(29, 28, 28);
  border-radius: 0.5rem;
  padding: 1.2rem;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  font-size: 12px;
  margin-right: 1.2rem;
}

.home {
  display: flex;
  justify-content: space-between;
  color: rgb(97, 97, 97);
}

.product-1,
.product-2,
.product-3 {
  margin-right: 1.5rem;
}

section hr {
  margin-bottom: 2.5rem;
}

.product-1 hr,
.product-2 hr,
.product-3 hr,
.product-4 hr {
  margin: 1rem 0;
}

.product-1 p,
.product-2 p,
.product-3 p,
.product-4 p {
  font-size: 13px;
}

.home h3 {
  margin-top: 0.5rem;
  font-size: 14px;
}

.home h4 {
  font-size: 13px;
  font-weight: 300;
}

footer {
  background-color: rgb(0, 0, 0);
}
.footer-alt {
  display: flex;
  justify-content: space-between;
  color: rgb(224, 211, 211);
  padding: 1.5rem 0;
  font-size: 13px;
}

@media all and (max-width: 480px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .header-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(139, 138, 138);
  }
  .header-nav a {
    margin-bottom: 0.5rem;
  }

  section {
    padding-left: 1rem;
  }

  .home {
    display: flex;
    flex-direction: column;
  }

  .footer_alt {
    padding-left: 1rem;
    flex-direction: column;
  }
}
